name: Build TsMap

on:
  push:
    branches: [ "master", "develop", "main" ]
  pull_request:
    branches: [ "master", "develop", "main" ]
  workflow_dispatch: # 允许手动点击按钮触发

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.1
      
    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1.0.5
      
    - name: Restore NuGet Packages
      run: nuget restore TsMap.sln
      
    - name: Build Solution
      run: msbuild TsMap.sln /p:Configuration=Release /p:Platform=x64
      
    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: TsMap-Build
        path: TsMap.Canvas/bin/x64/Release/
